@import '../../../../shared/utilities/variables';
.email-form-container{
    height: 70px;
    > *{
        height:100%
    }
    > label{
        position:relative;
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
        border-top-left-radius:2px;
        border-bottom-left-radius:2px
    }
    input{
        height:100%;
        width:500px;
        position:relative;
        margin:0;
        border:solid 1px grey;
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
        border-top-left-radius:2px;
        border-bottom-left-radius:2px
    }
}
.btn{
    background-color: $netflixRed;
    color:white;
    font-size:30px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    &:hover{
        background-color:$netflixRed
    }
}

input::placeholder{
    opacity:0
}
input ~ label{
    position:absolute;
    top:50%;
    left:10px;
    transform:translateY(-50%);
    transition:.1s;
    z-index:2;
    color:gray
}
input:focus ~ label{
    position:absolute;
    top:5%;
    transform:translateY(+0%);
    font-size:85%;
    transition:.1s;
    color:gray
}
input ~ label.labelUp{
    position:absolute;
    top:5%;
    transform:translateY(+0%);
    font-size:85%;
}
.alert{
    border-bottom:solid 2px orange
}