:host{
    color:white;
    
}
.question{
    cursor:pointer
}
.question, .answer{
    padding:20px 28px;
    background-color:#333;
    margin-bottom:1px;
    h3{ 
        font-size:26px
    }
    svg{
        width:26px
    }
    
}
@media screen and (max-width: 990px){
    .question, .answer{
        padding:16px 24px;
        h3{
            font-size:20px
        }
        svg{
            width:20px
        }
    }
}