<div class="col-12 pb-2 mx-3">
    <div (click)="toggleAnswer()" class="question d-flex align-items-center justify-content-between">
        <h3 class="fs-4 m-0">{{faq.question}}</h3>
        <svg [ngStyle]="{'transform' :faq.showAnswer == true ? 'rotate(0deg)' : 'rotate(45deg)'}" width="26px" fill="white" id="thin-x" viewBox="0 0 26 26" class="" focusable="true"><path d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"></path></svg>
    </div>
    
    <div class="answer p-4" *ngIf="faq.showAnswer" [@toggle]>
         <h3 class="mb-4" *ngFor="let p of faq.answer">{{p}}<br></h3>
    </div>
   
</div>

