<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-white display-2 mb-4">Strada senza uscita</h2>
    <h3 class="text-white my-3">Pagina non trovata. Nella home page c'è molto da scoprire.</h3>
    <a routerLink="/home"><button class="btn btn-light text-black my-3">Home Netflix</button></a>
    <p class="error-code text-white px-3 py-2 my-4">Codice di errore <span>NSES-404</span></p>
    <p class="img-ref text-white p-4 mx-3">DA <span>LOST IN SPACE</span></p>
</div>
