<div class="container-fluid p-0 d-flex flex-column align-items-center">
    <div class="container-fluid hero d-flex flex-column justify-content-center align-items-center">
        <div class="text-center hero-text mb-4">
            <h1 class="text-light mb-3">Film, serie TV e tanto altro. Senza limiti.</h1>
            <h3 class="text-light my-3">Guarda ciò che vuoi ovunque. Disdici quando vuoi.</h3>
        </div>
        <netflix-email-form></netflix-email-form>
    </div>
    <netflix-services class="col-12 d-flex flex-column align-items-center"></netflix-services>
    <netflix-faq-container class="col-12 col-sm-9 col-md-9 col-lg-6"></netflix-faq-container>
    <netflix-email-form class="mb-4"></netflix-email-form>
    <div class="container-fluid p-0 mt-5" style="border-top:solid 8px #333">
        <netflix-footer></netflix-footer>
    </div>

</div>

