:host{
    padding:0;
    margin:0;
}
.hero{
    padding:70px 0px;
    height:750px;
    position:relative;
    background-image:radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,1)), url('https://assets.nflxext.com/ffe/siteui/vlv3/03fdc4bf-72f6-4926-83a7-a76e6a1a5591/569d3d3c-54b3-434c-bbb5-61a8cf96cf9b/IT-it-20211115-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    border-bottom:solid 8px #333;
    h1{
        line-height:1.1em;
        font-family:'NFSans_medium';
        font-size:64px
    }
}
.hero-text{
    max-width:950px
}