<div class="position-relative previews-container" style="z-index:5">
    <ng-container *ngIf="movies$">
        <div class="carousel-container">
            <netflix-preview-carousel [list$]="movies$" (getProductDetails)="getProductDetails($event)" [info]="info" ></netflix-preview-carousel>
        </div>
    </ng-container>
    <ng-container *ngIf="movies$">
        <div class="carousel-container">
            <netflix-preview-carousel [list$]="series$" (getProductDetails)="getProductDetails($event)" [info]="info" ></netflix-preview-carousel>
        </div>
    </ng-container>
</div>
