<div class="position-relative previews-container">
    <ng-container *ngIf="movies$">
        <div class="carousel-container">
            <netflix-preview-carousel [list$]="movies$" (getProductDetails)="getProductDetails($event)" [info]="info" ></netflix-preview-carousel>
        </div>
    </ng-container>
    <ng-container *ngIf="movies$">
        <div class="carousel-container">
            <netflix-preview-carousel [list$]="series$" (getProductDetails)="getProductDetails($event)" [info]="info" ></netflix-preview-carousel>
        </div>
    </ng-container>
    <button (click)="getPops()" class="btn btn-primary">GET</button>
</div>
