/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$enable-responsive-font-sizes : true;

@font-face {
    font-family: 'NFSans_Regular';
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2);
}
@font-face {
    font-family: 'NFSans_Medium';
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2);
}
*{
   box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
}
body{
    font-family: 'NFSans_Regular';
    background-color: #000;
}


