/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$enable-responsive-font-sizes : true;

@font-face {
    font-family: 'NFSans_Regular';
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2);
}
@font-face {
    font-family: 'NFSans_Medium';
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2);
}
@font-face {
    font-family: 'NFSans_Light';
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff);
}
*{
   box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
}
body{
    font-family: 'NFSans_Regular';
    background-color: #000;
    overflow-x: hidden!important;

}
ul{
    list-style:none;
    padding-left:0
}

.preview-container{
    transition:.4s;
    background-color:#222;
    position:relative;
    overflow:hidden;
    &:hover{
        transform:scale(1.4);
        z-index:3;
        position:relative;
        box-shadow:0px 0px 10px rgba(0,0,0,.7)
    }
}

.adult{
    border:solid 1px white;
    padding:4px
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
