form{
    img{
        width:16%
    }
    input[type="text"]{
        background-color: #444;
        color:white;
        border:none
    }
}
.btn-continue{
    background-color:white;
    color:black;
    border-radius:1px;
    border:none;
    opacity:.9;
    &:hover{
        opacity:1
    };
    &:disabled:hover{
        opacity:.9
    }
}
.btn-cancel{
    background-color:transparent;
    color:white;
    border-radius:1px;
    border:solid 1px white;
    opacity:.6;
    &:hover{
        opacity:9
    }
}