<div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4 mb-3">Chi sta guardando Netflix?</h1>
    <div class="d-flex justify-content-center align-items-start w-75 my-4">
        <div *ngFor="let user of users" class="col-2 d-flex flex-column align-items-center">
            <button [disabled]="!canEdit" (click)="showEditProfile.emit(user)" class="container-fluid position-relative d-flex align-items-center justify-content-center">
                <img class="img-fluid rounded user-btn" [src]="user.imgUrl" [ngStyle]="{'opacity': canEdit ? '.8' : '1'}">
                <img *ngIf="canEdit" class="edit-icon" width="40px" style="filter:invert(1)"src="https://cdn-icons-png.flaticon.com/512/1827/1827933.png">
            </button>
            
            <p class="my-2 text-white-50">{{user.name}}</p>
        </div>
        <div class="col-2 position-relative d-flex flex-column align-items-center">
            <button class="container-fluid"><img (click)="newUser.emit()" class="img-fluid p-4 rounded gray" src="https://cdn-icons-png.flaticon.com/512/2089/2089631.png"></button>
            <p class="my-2 text-white-50 text-center">Aggiungi un profilo</p>
        </div>
    </div>
    <button *ngIf="!canEdit" (click)="canEdit = true" class="btn-profiles px-4 py-2 my-5 rounded">Gestisci i profili</button>
    <button *ngIf="canEdit" (click)="canEdit = false" class="btn-done px-4 py-2 my-5"><b>Fine</b></button>
</div>

