.btn{
    background-color: #000;
    color:white;
    border-color: rgb(170, 170, 170);
    font-size:14px;
    border-radius:3px;
    img{
        width:12px;
        margin-right:5px;
        vertical-align:baseline;
        filter:invert(1)
    }
}