.hero{
    background-image:radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url('https://assets.nflxext.com/ffe/siteui/vlv3/03fdc4bf-72f6-4926-83a7-a76e6a1a5591/569d3d3c-54b3-434c-bbb5-61a8cf96cf9b/IT-it-20211115-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size:136%;
    background-position:center top;
    background-repeat:no-repeat;
    
}
.nav{
    transition:.6s;
    z-index: 50
    
}
.bgBlack{
    background-color:black;
    transition:.6s
}