<div class="hero position-relative">
    <div class="container-fluid h-100 m-0 p-0">
        <img class="bg w-100" src="https://occ-0-2725-2582.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABWeHwWyz-KJovBrZybB4NUcY9ZjM0V6unPDO_pUD-rbO6ZcDx8bXST1lPcLZPcrv_fdRYCIc_IHsHNkRRzQJoZYB78s1.webp?r=5d9">
        <div class="shade"></div>
        <div class="on-poster-container">
            <div class="on-poster col-5 p-5 text-light">
                <img class="img-fluid my-4" src="https://occ-0-2725-2582.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABc2v1Ed13pKGQQIQof-JVTvEUu6XiojWnazSy_Q9sIlX8g4OBmKb6gutAOJE1MGvmG-zr5S445CSQr8T_gv1cpjFHeh-CGIocng8ijMYMdK4_5WKVcLYhyQQBVgcolQelaFz7UMARxz_DpmzITXrM5UPIiMWyhdqrnk_dpEborXeDw.webp?r=190">
                <p class="fs-3 poster-description">Una brava fotografa con un lavoro senza sbocchi riceve in eredità un antico calendario dell'Avvento che forse può prevedere il futuro... e guidarla verso l'amore.</p>
                <div class="d-flex">
                    <button class="btn-play rounded px-4 py-2 mr-3"><b><svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 2.69127C3 1.93067 3.81547 1.44851 4.48192 1.81506L21.4069 11.1238C22.0977 11.5037 22.0977 12.4963 21.4069 12.8762L4.48192 22.1849C3.81546 22.5515 3 22.0693 3 21.3087V2.69127Z" fill="currentColor"></path></svg>Riproduci</b></button>
                    <button class="btn-info rounded px-4 py-2 text-light"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3ZM1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM13 10V18H11V10H13ZM12 8.5C12.8284 8.5 13.5 7.82843 13.5 7C13.5 6.17157 12.8284 5.5 12 5.5C11.1716 5.5 10.5 6.17157 10.5 7C10.5 7.82843 11.1716 8.5 12 8.5Z" fill="currentColor"></path></svg><b>Altre info</b></button>
                </div>
            </div>
            <div class="pt-5">
                <netflix-previews-container></netflix-previews-container>
            </div>
                
                    
        </div>
    </div>
</div>
